@charset "utf-8";

body{
	background-color: green;
}

img{
	height: 50%;
}
li img{
	height: 40px;
	border-radius: 3px;
}
#carouselExampleControls{
	width: 50%;
	margin: auto;
}

/*********************************navbar**/
header a{
	background-color: none;
	font-weight: bold;	
	border-radius: 3px;
}
header a:hover{
	background-color: green;
}
.navbar-light .navbar-nav .nav-link {
    color: green;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
header{
	margin-bottom: 10px;
}
/*********************************footer**/

footer{
  color: green;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

footer h4{
	color:white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #3d6277;
  padding: 2em;
}
.footer-top{
  background: #2d4958;  
}
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
/************************Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}

.btn-primary{
	background-color: black;
	color: white;
}

/*****************************add product**/

form{
	position: absolute;
 	left: 50%;
 	top: 50%;
	transform: translate(-50%, -50%);

}
label{
	color:white;
	margin-top:5px;
	margin-bottom:5px;
}

.btn-dark{
	margin-top: 10px;	
}

span .form-error-message{
	color:white;
}