

<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-12">
          <div class="footer-title text-xs-center">
          <h4 class="p-b-1">My awesome footer</h4>
        </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">booo</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">biii</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">beee</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">baaaa</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">buuuuu</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header">brrrr</div>
          </div>
        </div><!--col-md-2-->
      </div>
    </div>
  </div>
 </footer>
