<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="/img/monkey_logo.jpg" style="Height:40px"></img>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">List projects</a>
          <a class="dropdown-item" href="#">Add project</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      
    </ul>
  </div>
</nav>

</header>