{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sorry, we lost it....</h1>

    <p>Your page is gone missing.... </p>
    <p>Checkout for any URL misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.</p>
    
{% endblock %}