<DOCTYPE html></DOCTYPE>
<html>
	<body>

        <p>Hello {{ user.getUsername() }}</p>
        
        <p>click click click</p>
        
        <a href="{{ absolute_url(path('activate_user', {'token':user.getEmailToken()})) }}"> </a>{{ absolute_url(path('activate_user', {'token':user.getEmailToken()})) }}
	
	</body>
</html>